body{
    
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;    /*center code vertically*/
    
}
.rectangle-one{
    display: flex;
    justify-content: center; /* center code horizontally */
   
    
    min-height: 100vh;
    flex-wrap: wrap;
    width: 320px;
    height: 497px;
    background-color:  hsl(0, 0%, 100%);
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    border-radius: 20px;
    padding: 15px;
    
}

.rectangle-two img{
    max-width: 100%;
    border-radius: 20px;
    
    
}

.rectangle-three{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    
    max-width:100%;
    height: auto;  
    color: #1f314f;
}

.rectangle-four{
    max-width: 100%;
    height: auto;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400px;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875;
    color: #7d889e;

}